h1 { font-family: Helvetica Sanskrit; font-style: normal; font-weight: 600; font-size: 24pt; line-height:28pt; text-align: center; }

p.x { font-family: Helvetica Sanskrit; font-style: normal; font-weight: 600; font-size: 24pt; line-height:36pt; text-align: center; }

p.norm { font-family: Helvetica Sanskrit; font-style:  normal; font-weight: 400; font-size: 15pt; }

p.med { font-family: Helvetica Sanskrit; font-style:  normal; font-weight: 400; font-size: 13pt; }

p.min { font-family: Helvetica Sanskrit; font-style:  normal; font-weight: 400; font-size: 10pt; line-height: 14pt;  }

td { font-family: Helvetica Sanskrit; font-style:  normal; font-weight: 400; font-size: 15pt; }
td.small { font-family: Helvetica Sanskrit; font-style:  normal; font-weight: 400; font-size: 11pt; }

